body 
{
    background-color: #8e78f3;
    text-align: center;
}

h2 
{
    background-color: rgba(249, 107, 107, 0.842);
}

h2
{
    background-color: rgb(166, 235, 48);
}

p
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p
{
    font-size: 12px; line-height: 5;
}


table
{
    border: 1px solid #333;   
    padding: 9px;            
    text-align: center;
}
