body 
{
    background-color: rgb(197, 113, 230);
    text-align: center;
}

h2 
{
    background-color: rgb(97, 109, 237);
}

h2
{
    background-color: rgb(235, 102, 218);
}

p
{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

p
{
    font-size: 20px; line-height: 3;
}

img
{
    width: 600px ;
}

table
{
    border: 1px solid #333;   
    padding: 10px;            
    text-align: center;
}



